/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* EMOJI SPRITES */
@import "emoji-sprites.css";

html, body, div, p, span, h1, h2, h3, h4, h5, h6, input, textarea {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: 'Inter';
  color: rgba(var(--testo));
  scroll-behavior: smooth;
}
body {
  background-color: rgba(var(--sfondo));
}
div, p, span, form, input, textarea, select, option {
  font-size: 16px;
  font-weight: 400;
}
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

/* SCROLLBAR */
body {
  scrollbar-width: 8px;
  scrollbar-color: rgba(var(--medio));;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: rgba(var(--sfondo));
}
::-webkit-scrollbar-thumb {
  background-color: rgba(var(--medio));
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(var(--hover));
  border-radius: 5px;
}
/* SELECTION */
::-moz-selection { /* firefox */
  background: rgba(var(--medio));
}
::selection {
  background: rgba(var(--medio));
}
/* NAV */
nav {
  position: fixed;
  top: 0;
  padding: 4vh 4vw;
  background: rgba(var(--sfondo));
  max-width: 92vw;
  width: 92vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
nav a {
  padding: 4px;
  border-radius: 5px;
  text-align: inherit;
  text-decoration: none;
  display: flex;
}
nav a:hover {
  background: rgba(var(--hover));
}
nav a img {
  width: 16px;
  margin-right: 4px;
}
nav .navBarra {
  padding: 0 5px;
  color: rgba(var(--medio));
  vertical-align: middle;
}

/* STILE CONTENUTO */
main {
  max-width: 700px;
  padding: 15vh 0;
  margin: 0 auto;

}
#h1Emoji {
  width: 80px;
  cursor: pointer;
  border-radius: 5px;
}
#h1Emoji:hover {
  background: rgba(var(--hover));
}
h1 {
  margin: 20px 0;
  text-align: left;
  font-size: 40px;
  font-weight: 800;
}
h1:focus {
  outline: none;
}
h2 {
  margin: 20px 0 10px 0;
  text-align: left;
  font-size: 30px;
  font-weight: 700;
}
h3 {
  margin: 10px 0;
  text-align: left;
  font-size: 20px;
  font-weight: 600;
}
main div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: left;
  align-content: center;
  padding: 5px 0;
  text-align: justify;
  line-height: 25px;
}
ul {
  margin: 0;
}
.pagineLink {
  display: flex;
  padding: 4px;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  max-width: 100%;
}
.pagineLink span {
  border-bottom: 0.05em solid rgba(var(--medio));
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.pagineLink img {
  width: 16px;
  margin-right: 4px;
}
.pagineLink:hover {
  background: rgba(var(--hover));
}
a[rel="external"] {
  display: inline;
  border-radius: 5px;
  padding: 4px;
  text-decoration: none;
}
a[rel="external"] span {
  border-bottom: 0.05em solid rgba(var(--medio));
  font-weight: 600;
  font-size: 16px;
  color: rgba(var(--testo));
}
a[rel="external"] svg {
  width: 16px;
  height: 14px;
  margin-right: 3px;
}
a[rel="external"] svg path {
  fill: rgba(var(--testo));
}
a[rel="external"]:hover {
  background: rgba(var(--hover));
}

/* FORM  */
input, textarea, select {
  display: block;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid rgba(var(--hover));
  border-radius: 5px;
  color: rgba(var(--testo));
  background-color: transparent;
}
input, textarea {
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
textarea {
  height: 30vh;
  resize: none;
}
input:focus, textarea:focus, select:focus {
  border: 1px solid rgba(var(--medio));
  border-radius: 5px;
  outline: none;
}
input[type="submit"] {
  background: rgba(var(--hover));
  margin: 0;
  width: 100% !important;
}
input[type="submit"]:hover {
  border: 1px solid rgba(var(--medio));
  background: rgba(var(--medio));
  cursor: pointer;
}
select option {
  color: black;
}

/* MODIFICA EMOJI */
#modificaEmojiContenitore {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  display: none;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(var(--sfondo), 0.5);
  z-index: 1;
}
#modificaEmojiContenitore.on  {
  display: flex;
}
#modificaEmojiContenitore.off  {
  display: none;
}
#modificaEmojiContenitore > div {
  background: rgba(var(--sfondo));
  box-shadow: rgba(var(--medio)) 0px 0px 0px 1px, rgba(var(--medio)) 0px 2px 4px;
  width: 60%;
  height: 50%;
  border-radius: 5px;
  overflow: hidden;
  display: block;
  margin: auto;
  padding: 30px;
  box-sizing: border-box;
}
#modificaEmojiContenitore > div > h3 {
  margin: 0 0 10px 0;
  min-height: 6%;
}

#modificaEmojiContenitore > div > div {
  overflow-y: scroll;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 94%;
}
#modificaEmojiContenitore > div > div > div {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content:  center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
#modificaEmojiContenitore > div > div > div:hover {
  background: rgba(var(--hover));
}

/* CERCA RICETTA */
#cercaContenitore {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  padding: 0;
  display: none;
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(var(--sfondo), 0.5);
}
#cercaContenitore.on  {
  display: flex;
}
#cercaContenitore.off  {
  display: none;
}
#cercaContenitore > div {
  background: rgba(var(--sfondo));
  box-shadow: rgba(var(--medio)) 0px 0px 0px 1px, rgba(var(--medio)) 0px 2px 4px;
  width: 40%;
  height: 40%;
  border-radius: 5px;
  overflow: hidden;
  display: block;
}
#cercaContenitore > div > input {
  margin: 0;
  border: none;
  border: 3px;
  padding: 20px;
}
#cercaContenitore > div > input:focus {
  border: 0 0 1px 0 solid rgba(var(--medio));
  border-radius: none;
  outline: none;
}
#cercaContenitore > div > section {
  overflow-y: scroll;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: calc(100% - 60px);
}
#cercaContenitore > div > section > a {
  padding: 10px 20px;
  text-decoration: none;
}
#cercaContenitore > div > section > a:hover {
  background: rgba(var(--hover));
}
#cercaContenitore > div > section > a span {
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#cercaContenitore > div > section > a img {
  width: 16px;
  margin-right: 4px;
}

/* AGGIUNGI RICETTA */
#aggiungiRicettaPulsante {
  position: fixed;
  bottom: 4vw;
  right: 4vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 40px;
  height: 40px;
  background: rgba(var(--sfondo));
  border-radius: 50%;
  color: rgba(var(--testo));
  font-size: 25px;
  font-weight: 200;
  text-decoration: none;
  box-shadow: rgba(var(--medio)) 0px 0px 0px 1px, rgba(var(--medio)) 0px 2px 4px;
}
#aggiungiRicettaPulsante:hover {
  background: rgba(var(--hover));
}


/* RESPONSIVE */
@media only screen and (max-width: 1000px) {
  nav {
    padding: 4vh 15vw;
    width: calc(100vw - 30vw);
  }
  main {
    width: auto;
    padding: 15vh 15vw;
  }
  #aggiungiRicettaPulsante {
    bottom: 7vw;
    right: 7vw;
  }
}
@media only screen and (max-width: 800px) {
  nav a span {
    white-space: nowrap;
    max-width: 240px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media only screen and (max-width: 600px) {
  nav a span {
    white-space: nowrap;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* COLORI */
@media (prefers-color-scheme: light) {
  :root {
    --sfondo: 255, 255, 255;
    --hover: #f4f4f4;
    --medio: #d4d4d4;
    --testo: 0, 0, 0;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --sfondo: 0, 0, 0;
    --hover: 62, 62, 62;
    --medio: 31, 31, 31;
    --testo: 255, 255, 255;
  }
}
